<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h3>Dear Admin,</h3>
    <p>
    <%= @user.name %> has submitted an order!
    </p>
    Order Details:<br>
    Item name: <%= @item.name %>
    Item description: <%= @item.description %>
  </body>
</html>
